/**
 * variable
 */

$white: #fff;
$black: #333;
$gray: #eaeded;
$DarkGray: #6c6e73;
$red: #bf0000;
$bule: #007185;
$DarkBule: #131921;
$DarkBlue02: #232f3e;
$yellow: #febd69;
$DarkYellow: #f3a847;
$orange: #e87e00;
$lightOrange: #ffa41c;

$pc: 1024px;
$sp: 767px;

$fontBase: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN",
  "ヒラギノ角ゴシック", "Hiragino Sans", "游ゴシック", "Yu Gothic", sans-serif;
